
.main--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}


/* start for header styling */
 .nav {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;

 }

 .container {
     height: 10%;
     width: 100%;
     background-color: #002A50;
 }

 .links ul {
     display: flex;
     list-style-type: none;
 }

 .links ul li a {
     text-decoration: none;
     color: #fff;
 }

 .links ul li {
     padding-right: 70px;
 }


 .cloud {
     color: #fff;
     padding-left: 3%;
     margin-top: 14px;
     font-size: 20px;
 }
 /* End header styling */



/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002a50;
    width: 80%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.logo{
margin-left: 1em;
} 
.Nav--Item{
    display: flex;
    justify-content: space-around;
}
 li a{
    list-style: none;
    margin-right: 1em;
    color: #fff; 
} */
p,
div {
    font-family: 'Montserrat', sans-serif;
}
main,footer{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 80%;
}
.single--paragragh{
    display: flex;
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}
.text--section{
    text-align: center;
    font-size: 1.5rem;
    color: #000;
}
.text--section h2{
    text-shadow: 0 0.09em 0.09em;
    font-family: 'Roboto', sans-serif; 
    letter-spacing: 0.3em;
    
}
.text--section,hr{
    width: 50%;
}
.cards--section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    grid-gap: 4em;
    margin: 2rem auto;
} 
.card{
width:  5%;
height: 10vh; 
margin: .2em;
padding: 3em 6em; 
background-color:#002a50;
border-radius: 0.5rem;
font-size: 1rem;
position: relative;
}
.card p{
   
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(1%, 100%);
}
.block{
    display: flex;
    justify-content: space-around;
}
.block--div{
    margin: 1em;
    padding: 2em 3em;
    border-radius: 0.5rem;
    background-color: rgb(127, 194, 216);
}
.background--image{
    width: 100%;
    height: 80vh;
    border-radius: .5em;
    background: linear-gradient(50deg, rgba(63, 59, 59, 0.5), rgba(161, 145, 145, 0.5)), url(../images/istockphoto-1387498646-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    background-position-x: center;
    background-position-y: center;
    position: relative;
}
.center--text{
   position: absolute;
   top: 50%;
   left: 50%;
    transform: translate(-50%,-50%);
    color: #002a50;
    font-size: 2.5rem; 
    opacity: 1;
}


/* starting of footer styling */
.africa {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-left: 80px;
    margin-right: 40px;
    padding-top: 30px;
    width: 100%;
    height: 250px;
    background-color: #002A50;
}

.here {
    font-size: 30px;
    color: #fff;
}

.here p {
    border: 1px solid white;
    border-radius: 5px;
    color: #ccc;
    font-size: 15px;
    padding: 10px;
}

.here h5 {
    color: #fff;
    font-size: 18px;
}

.here h6 {
    border: 1px solid white;
    border-radius: 20px;
    color: #002A50;
    font-size: 15px;
    background-color: #fff;
    padding: 10px;
    width: 90px;
}

.short p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.across {
    color: #fff;
}

.across p {
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}

.across ul li {
    list-style-type: none;
    padding: 7px;
    /* margin-right: 150px; */
}

.across ul li a {
    font-size: 20px;

}

.africa .follow {
    color: #fff;
    padding-right: 20%;
    font-size: 20px;
}

.fa-brands {
    padding: 20px;

}

.footer {
    display: flex;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    background-color: #002A50;
    color: #fff;
    padding-top: 8px;
    padding-left: 70px;
    padding-right: 70px;

}
@media screen and (max-width: 816px) {
    .nav {
        /* display: flex; */
        flex-wrap: wrap;
        justify-content: space-between;

    }

    .container {
        height: 10%;
        width: 100%;
        background-color: #002A50;
    }

    .links ul {
        display: flex;
        list-style-type: none;
    }

    .links ul li a {
        text-decoration: none;
        color: #fff;
    }

    .links ul li {
        padding-right: 70px;
    }


    .cloud {
        color: #fff;
        padding-left: 3%;
        margin-top: 10px;
        font-size: 20px;
    }

}

/* Ending of footer styling */




/* footer{
color: #fff;
}
.copyright--footer--1{
 display: flex;
justify-content: space-around;
align-items: center;
border-radius: .5em;
margin: .9em;
width: 100%;
height: 40vh;
background-color: #002a50;
}
.sign-up--div{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
    background-color: #002a50;
}

.sign-up--div input{
    outline: none;
    opacity: 0.9;
    border: none;
    background-color:#002a50;

}
.sign-up--div hr{
    width: 100%;
}
.sign-up--div button{
    padding: 1.5em 1em;
    border-radius: .5em;
    border: none;
    font-size: 1em;
}
.sign-up--div button:hover{
    background-color: #002a50;
    color: #fff;
    font-size: 1rem;
}
.fa-brands{
    padding-right: .5em;
}
.copyright--footer--2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #000;
}
.fa-solid{
    padding-right: 0.4em;
}  */

/* @media (max-width: 768px) {
    .Navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav--link {
        margin: 10px 0;
    }
} */