 body{
  overflow-x: hidden;

} 


/* 
.bg-body-primary {background-color: #002A50;}

.collapse navbar-collapse{color:tertiary;}

 .nav-item{color:tertiary;}  

  .nav-link active{color: tertiary;}  

 .nav-link{color: tertiary;}   */

 .nav{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
} 

 .container{
  height: 10%;
  width: 100%;
  background-color: #002A50;
} 

 .links ul{
    display: flex;
    list-style-type: none;
    } 

.links ul li a {
  text-decoration: none;
  color: #fff;
} 

.links ul li{
  padding-right: 70px;
} 


 .cloud{
  color: #fff;
  padding-left: 3%;
  margin-top: 14px;
  font-size: 20px;
} 



.bannerimage{
  /* background-image: url('photo1.jpg'); */
  background-size: cover;
 background-repeat: no-repeat; 
  background-position: 100%;
 background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(photo1.jpg);
  width: 100%;
  height: 600px;

}

.impact{
  position: absolute;
  top: 30%;
  left: 40%;

}

.impact h1{
  text-align: center;
  font-size: 60px;
  color: #fff;
}

.impact p{
  text-align: center;
  font-size: 20px;
  color: #002A50;
  border: 1px solid white;
  border-radius: 30px; 
   padding: 15px;  
  background-color: #fff;
 width: 170px; 
   margin-left: 80px; 
}


.container-big{
  display: flex;
   /* justify-content: space-between;  */
  /* margin-left: 100px; */
  margin-top: 50px;
}

/* 
.ipsum button{
  color: #fff;
  background-color: #002A50;
  border: none;
  margin-left: 100px;
  padding: 8px;
} */

.inner-big{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 60%; */
  /* height: 90%; */
  /* background-color: #002A50; */
}

 .inner-big #first{
  /* border: 1px solid yellow; */
  width: 300px;
  height: 250px;
  /* background-image: url(images.jpg); */
}

  .inner-big #two{
  border: 2px solid yellow;
  width: 250px;
  height: 200px;
  /* margin-top: 40px;
  margin-right: 20px;  */
} 


.inner-big #three{
  border: 2px solid red;
  width: 300px;
  height: 250px;
   /* margin-left: 130px; 
   margin-bottom: 60%;  */
} 


.inner-big #four{
  /* border: 1px solid green;  */
  width: 300px;
  height: 250px;
}

.big-pic{
  position: relative;
  width: 60%;
   
}

.big-pic img{
  width: 600px;
  height: 480px;
  position: absolute; 
   top: 2%;
  left: 12%; 
  /* margin-left: 20%;
  padding-top: 40px; */
  border-radius: 150px 0px 150px 0px;
}

.ipsum{
   margin-top: 60px;
   /* padding-left: 80px; */
   padding-right: 150px;
}


.ipsum p{
 font-size: 18px;
 
}


.ipsum h6{
   font-size: 30px;
   color: #002A50;
   margin: 0;
   padding: 0;
}

.ipsum button{
  color: #fff;
  background-color: #002A50;
  /* margin-right: 20%; */
  padding: 8px;
  height: 40px;
  width: 100px;
  font-size: 20px;
}



.over p{
  text-align: center;
  color: #002A50;
  font-size: 40px;
  /* padding-top: 70px; */
}

.users{
  display: flex;
  justify-content: space-between;
  
}
.about{
  /* background-image: url('images.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 40%;
  height: 400px;
  margin-left: 60px;
  border-radius: 20px;
  margin-top: 2%;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(images.jpg);
  
}

.services{
  /* background-image: url('images2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 40%;
  height: 400px;
  margin-right: 60px;
  border-radius: 20px;
  margin-top: 10%;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(images.jpg);

}


.see{
  color: #fff;
  text-align: start;
  font-weight: bolder;
  font-size: 45px;
  padding-left: 50px;
}

.show{
  color: #fff;
  padding-left: 80%;
  padding-top: 40px;
}

.users hr{
  width: 20%;
  margin-left: 75%;
}

.awesome h1{
  text-align: center;
  color: hsl(209, 100%, 16%);;
  font-size: 40px;
   padding-top: 60px; 
   margin: 0; 
  /* padding: 0; */

}

.awesome p{
  text-align: center;
  color: black;
  font-size: 30px;
  margin: 0;
  padding: 0;
}


.display{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.display img{
  height: 250px;
  width: 350px;
 margin-right: 40px; 
   margin-left: 40px; 
  border: 2px solid #002A50;
  border-radius: 10px;
}

.offer h1{
  text-align: center;
  color: #002A50;
  font-size: 40px ;
  margin: 0;
  padding-top: 50px;
}


.includes{
  display: flex;
}

.success{
  /* background-image: url('cloud.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 30%;
  height: 300px;
  margin-left: 220px;
  border-radius: 20px;
  margin-top: 20px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url('cloud.png');
   color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
    
  
}

.success .globe{
  margin-top: 110px;
  
    
}

.system{
  margin-left: 100px;
  margin-top: 20px;
}

.system h3{
  color: #002A50;
  font-size: 30px;
}

.system hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.system p{
  font-size: 30px;
}



.enrich{
  display: flex;
}

.customer{
  /* background-image: url('cloud.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 30%;
  height: 300px;
   margin-left: 100px; 
  border-radius: 20px;
  margin-top: 70px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url('cloud.png');
  color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
  
}

.customer .group{
  margin-top: 110px;
}

.google{
   margin-left: 220px; 
  margin-top: 90px;
}

.google h3{
  color: #002A50;
  font-size: 30px;
}

.google hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.google p{
  font-size: 30px;
}



.network{
  display: flex;
}

.solution{
  /* background-image: url('cloud.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 30%;
  height: 300px;
  margin-left: 220px;
  border-radius: 20px;
  margin-top: 100px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(cloud.png);
  color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
}

.solution .filled{
  margin-top: 110px;
}

.range{
  margin-left: 100px;
  margin-top: 100px;
}

.range h3{
  color: #002A50;
  font-size: 30px;
}

.range hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.range p{
  font-size: 30px;
}

.team{
  text-align: center;
  padding-top: 50px;
}

.team h5{
    color: #002A50;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.team p{
  font-size: 20px;
   padding-top: 10px;
   padding-bottom: 20px; 
  margin: 0;
}

html,
body {
  position: relative;
  height: 70%;
  
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  
}

.swiper {
  width: 80%;
  height: 100%;
 
 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px  ;
  
}

.africa{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-left: 80px;
  margin-right: 40px;
  padding-top: 30px;
  width: 100%;
  height: 250px;
  background-color: #002A50;
}

.here{
  font-size: 30px;
  color: #fff;
}

.here p{
  border: 1px solid white;
  border-radius: 5px;
  color: #ccc;
  font-size: 15px;
  padding: 10px;
}

.here h5{
  color: #fff;
  font-size: 18px;
}

.here h6{
  border: 1px solid white;
  border-radius: 20px; 
  color: #002A50;
  font-size: 15px ;
  background-color: #fff;
  padding: 10px;
  width: 90px;
}

.short p{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.across{
  color: #fff;
}

.across p{
  font-weight: bold;
  font-size: 20px;
  padding-left: 30px;
}

.across ul li {
     list-style-type: none;
     padding: 7px;
     /* margin-right: 150px; */
}

.across ul li a{
  font-size: 20px;

}

.africa .follow{
  color: #fff;
  padding-right: 20%;
  font-size: 20px;
}

.fa-brands{
  padding: 20px;

}

.footer{
  display: flex;
    justify-content: space-between;
   height: 30px; 
  background-color:#002A50;
  color: #fff;
    padding-top: 8px; 
   padding-left: 70px; 
   padding-right: 70px;  
  
}

@media screen and (max-width: 816px) {
  .nav{ 
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    
  } 
  
   .container{
    height: 10%;
    width: 100%;
    background-color: #002A50;
  } 
  
   .links ul{
      display: flex;
      list-style-type: none;
      } 
  
  .links ul li a {
    text-decoration: none;
    color: #fff;
  } 
  
  .links ul li{
    padding-right: 70px;
  } 
  
  
   .cloud{
    color: #fff;
    padding-left: 3%;
    margin-top: 10px;
    font-size: 20px;
  } 

}







@media screen and (max-width: 375px) {
   
  .nav{ 
    /* display: flex;  */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    
  } 
  
   .container{
    height: 10%;
    width: 100%;
    background-color: #002A50;
  } 
  
   .links ul{
      display: flex;
      list-style-type: none;
      } 
  
  .links ul li a {
    text-decoration: none;
    color: #fff;
  } 
  
  .links ul li{
    padding-right: 70px;
  } 
  
  
   .cloud{
    color:#fff;
    padding-left: 3%;
    margin-top: 14px;
    font-size: 8px;
  } 
}

 
