html,body {
padding:0;
margin:0;
box-sizing: border-box;
overflow/x: hidden;
}



* {
    margin: 0;

    padding: 0;

}

.Top-Part {

    height: 35rem;
    width:100%;
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("CC/istockphoto-1352203098-170667a.jpg");
    background-size:cover;
    background-position: center;
    margin:0;
    padding:0;

}

.Top-Part > h1 {
font-size: 4rem;
position:absolute;
text-align: center;
}

.Sign {
color:#5487B6;
top:10rem;
left:34rem;
}

.start {
    color:#fff;
    top:15rem;
    left:37rem;

}

.Top-Part > h2 {
    color:#d9d9d9;
    font-size:1.9rem;
    position:absolute;
    top:26rem;
    left:31.5rem;
}

.Top-Part > hr {
    color:#5487B6;
    width:30rem;
    position:absolute;
    top:31rem;
    left:34rem;
}

.Contact {
    height:73rem;
    width:100%;
    background-color: #5487B6;
    margin: 0;
    padding:0;
    box-sizing:border-box;
    position:relative;
}



.box {
    height:7rem;
    width:15rem;
    /* background-color:#002a50; */
    margin-left: 41rem;
    color:#002a50;
    position:absolute;
    margin-top:1rem;
    border-radius: 5px;
}

.box >h1 {
text-align: center;
margin-top:30px;
font-size:50px;
}

.formular form {
    color:#fff;
    display:flex;
    justify-content: space-around;
    text-align: center;
    font-size:25px;

}


input {

    width:22rem;
    box-sizing: border-box;
    border:none;
    outline:#5487B6;
    background-color:#5487B6;
    border-bottom: 2px solid #fff;
    color:#fff;
    font-size:25px;
  }



    textarea {
    width: 22rem;
    height: 10rem;
    box-sizing: border-box;
    border:none;
    outline:#fff;
    border-radius: 5px;
    background-color: #f8f8f8;
    resize: none;
    margin-top:50px;
    font-size: 25px;
  }
    


  table {
    margin-right:10rem;
    margin-top: 10rem;
    margin-left:5rem;
   margin-bottom:2rem;
  }

  td {
    height: 100px;
} 


.Socials {
margin-top: 12rem;
margin-right:8rem;
}

.mediapic {
    height:18rem;
    width:25rem;
    background-image: linear-gradient(10deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("Contact Us/pexels-kerde-severin-1542252.jpg");
    background-size: cover;
    border-radius: 5px;
    text-align: center;
    position:relative;
    margin-top:2rem;
  


}


.mediapic  > h1{
    font-size:40px;
    position:absolute;
    margin-top:6rem;
    
    

}

.social-media {
    margin-left:3rem;
}

.icon-accent {
    margin-top: 2rem;
    margin-right: 50px;
    font-size:2rem;
    fill: #fff;
    display: inline-block;
}

.submitbut {
width:100px;
height: 30px;
background-color:#002a50;
color:#fff;
font-size: 20px;
border: none;
border-radius: 5px;
position:absolute;
top:40rem;
left:25rem;

}

.Contact > hr {
    width:61rem;
    margin-top:6rem;
    margin-left:17rem;
}

.hotline {
    height: 18rem;
    width:25rem;
    background: linear-gradient(10deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Contact Us/pexels-mart-production-7709242.jpg");
    background-size:cover;
    background-position: center;
    border-radius:5px;
    margin-left: 17rem;
    /* margin-top: 10rem; */
    color: #fff;
    font-size: 25px;
    position:relative;
}

.hotline > p {
text-align: center;
position:absolute;
top:6rem;
}

.location {
    display:flex;
    margin-top:5rem;
}


.loc-text {
    height:20rem;
    width:20rem;
    margin-left: 43rem;
    line-height: 40px;
    margin-top: 2rem;
}


.mapbut {
    width: 140px;
    background-color:#fff;
    color:#002a50;
    border:none;
    height:30px;
    border-radius:5px;
    font-size:20px;
    margin-top:2rem;
    margin-left:13rem;
    }


    /* Responsivenes */



    @media only screen and (max-width:1280px) {

        

.Top-Part {

    height:30rem;
}

.Top-Part > h1 {
    font-size:3.5rem;
}

.Sign {
top:8rem;
left:25rem;
}

.start {
    top:12rem;
    left:28rem;

}

.Top-Part > h2 {
    font-size:1.6rem;
    top:21rem;
    left:25rem;
}

.Top-Part > hr {
    width:25rem;
    top:25rem;
    left:27rem;
}

.Contact {
    height:73rem;
}



.box {
    height:6rem;
    width:12rem;
    margin-left: 33rem;
    margin-top:1rem;
}

.box >h1 {
margin-top:25px;
font-size:40px;
}


.Contact > hr {
    width:55rem;
    margin-top:6rem;
    margin-left:12rem;
}

.hotline {
    margin-left: 12rem;
    font-size: 25px;
}



.loc-text {
    margin-left: 38rem;
}


.mapbut {
    width: 140px;
    height:30px;
    font-size:20px;
    margin-top:2rem;
    margin-left:12rem;
    }


}


  @media only screen and (max-width:768px) {

    
.Top-Part {

    height: 22rem;

}

.Top-Part > h1 {
font-size: 2.8rem;
}

.Sign {
top:6rem;
left:13rem;
}

.start {
    top:9rem;
    left:16rem;

}

.Top-Part > h2 {
    font-size:1.3rem;
    top:15rem;
    left:12rem;
}

.Top-Part > hr {
    width:20rem;
    top:18.5rem;
    left:14rem;
}


.Contact {
    height:42rem;
}


.box {
    height:4rem;
    width:10rem;
    margin-left:18.5rem;
    margin-top:0.5rem;
}

.box >h1 {
margin-top:15px;
font-size:30px;
}


.formular form {
    display:flex;
    text-align: center;
    font-size:15px;

}


input {

    width:10rem;
    font-size:15px;
  }



    textarea {
    width: 10rem;
    height: 5rem;
    margin-top:30px;
    font-size: 15px;
  }
    


  table {
    margin-right:0.5rem;
    margin-top: 6rem;
    margin-left:2.5rem;
   margin-bottom:2rem;
  }

  td {
    height: 50px;
} 


.Socials {
margin-top: 6rem;
margin-right:1rem;
}

.mediapic {
    height:9.5rem;
    width:13rem;
    margin-top:2rem;
    margin-left:2rem;
    margin-right:3rem;


}


.mediapic  > h1{
    font-size:20px;
    margin-top:3.4rem;
    
    

}

.social-media {
    margin-left:1.5rem;
}

.icon-accent {
    margin-top: 1.3rem;
    margin-right: 30px;
    font-size:1rem;
}

.submitbut {
width:50px;
height: 15px;
font-size: 10px;
top:20.5rem;
left:13.2rem;

}

.Contact > hr {
    width:33rem;
    margin-top:3rem;
    margin-left:7.5rem;
}

.hotline {
   height:9.5rem;
   width:13rem;
   margin-left: 6rem;
   font-size: 15px;
}

.hotline > p {
text-align: center;
position:absolute;
top:3rem;
}

.location {
    display:flex;
    margin-top:4rem;
}


.loc-text {
    height:12rem;
    width:12rem;
    margin-left: 22rem;
    line-height: 20px;
    margin-top: 1rem;
}


.mapbut {
    width: 70px;
    height:15px;
    font-size:10px;
    margin-top:1.8rem;
    margin-left:9rem;
    }

  }


  @media only screen and (max-width:400px) {

    
.Top-Part {

    height: 12rem;

}

.Top-Part > h1 {
font-size: 1.5rem;
}

.Sign {
top:2.5rem;
left:6rem;
}

.start {
    top:4.5rem;
    left:7.5rem;

}

.Top-Part > h2 {
    font-size:0.8rem;
    top:7.5rem;
    left:4.4rem;
}

.Top-Part > hr {
    width:12rem;
    top:10rem;
    left:5.8rem;
}


.Contact {
    height:50rem;
}


.box {
    height:3rem;
    width:8rem;
    margin-left:7.5rem;
    margin-top:0.5rem;
}

.box >h1 {
margin-top:8px;
font-size:20px;
}


.formular form {
    display:inline-block;
    text-align: center;
    font-size:10px;

}


input {

    width:10rem;
    font-size:10px;
  }



    textarea {
    width: 10rem;
    height: 5rem;
    margin-top:20px;
    font-size: 10px;
  }
    


  table {
    margin-top: 4rem;
    margin-left:3.7rem;
   margin-bottom:2rem;
  }

  td {
    height: 40px;
} 


.submitbut {
width:50px;
height: 15px;
font-size: 10px;
top:17rem;
left:10rem;

}
.Socials {
margin-top: 4rem;
margin-right:1rem;
}

.mediapic {
    height:7rem;
    width:10rem;
    margin-top:2rem;
    margin-left:6.8rem;

}


.mediapic  > h1{
    font-size:18px;
    margin-top:2.3rem;
    
}

.social-media {
    margin-left:5.6rem;
}

.icon-accent {
    margin-top: 1rem;
    margin-right: 25px;
    font-size:0.7rem;
}


.Contact > hr {
    width:15rem;
    margin-top:2rem;
    margin-left:4rem;
}

.hotline {
    height:7rem;
    width:10rem;
   margin-left: 6.8rem;
   font-size: 11px;
   margin-top:-1rem;
}

.hotline > p {
text-align: center;
position:absolute;
top:2.5rem;
}

.location {
    display:flex;
    margin-top:4rem;
}


.loc-text {
    height:8rem;
    width:8rem;
    margin-left: 0rem;
    line-height: 15px;
    margin-top:9rem;

}


.mapbut {
    width: 70px;
    height:15px;
    font-size:10px;
    margin-top:0rem;
    margin-left:5.5rem;
    }

  }

  



